@model List<UserModel>

<h2>View Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                    @if (User.IsInRole("Administrator") && User.Identity.Name != user.UserName)
                    {
                                <form method="post" asp-action="RemoveUser" asp-route-username="@user.UserName">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                    }
                    else
                    {
                         <p>It's you</p>
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>